# System files
.DS_Store
.Rhistory
.Rapp.history
.ipynb_checkpoints

# Large Data Files
data/raw/
data/processed/GSE213366_matrix_processed.csv

# Temporary files
temp/
__pycache__/
*.pyc

# Virtual environments if any
.venv
env/
